<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elektronika Home</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <div>
    </div>
</head>
<body>

<header>
    <div class="logo">
        <a href="/">
            <img src="~/Pictures/Logo/ndulogo.png" alt="Elektronika Logo" width="240" height="80">
        </a>
    </div>
    <nav>

        <ul class="menu">
            <li><a href="/Projects">Layihələr</a></li>
            <li><a href="/Contact">Əlaqə</a></li>
            <li><a href="/About">Haqqımızda</a></li>
        </ul>
    </nav>
</header>
@RenderBody()
<footer>
    <p>&copy; 2024 Elektronika</p>
    <p>Develop By Aydin Bagirov</p>
</footer>
</body>
</html>