@{
    Layout = "_MainLayout";
}

<div style="font-family: Times New Roman", serif;>
    <h1>Memarlıq-Mühəndislik fakültəsi</h1>
    <span style="color: rgb(0, 0, 0);">Memarlıq və mühəndislik fakültəsi</span>
    <p>
        <span style="color: rgb(0, 0, 0);">Memarlıq və mühəndislik fakültəsi 1988-ci ildən yüksək ixtisaslı mühəndis kadrların
            yetişdirilməsi ilə məşğuldur. Fakültədə 5 kafedra fəaliyyət göstərir. Fakültə tərkibində tələbə gənclər təşkilatı,
            tələbə elmi cəmiyyəti, idman şurası və müxtəlif ixtisaslara uyğun dərnəklər fəaliyyət göstərir. Fakültənin nəznində
            “Memarlıq muzeyi” və texniki yaradıcılıq kabinələri fəaliyyət göstərir. Fakültə dekanı 2001-2007-ci illərdə Arif Abbasov,
            2007-2013-cü illərdə Mübariz Nuriyev olmuşdur. 2013-dən isə fakültə dekanı Cavanşir Zeynalovdur. 2001-2003-cü illərdə
            Həsən Babayev, 2003-2020 illərdə Məmməd Rəcəbov, 2020-2022-ci illərdə Rüstəm Məmmədov dekan müavini olmuşdur.
            2022-ci ildən isə dekan müavini Tərxan Orucovdur.</span>
    </p>
    <p>
        <span style="color: rgb(0, 0, 0);">Fakültədə aşağıdakı ixtisaslar üzrə kadr hazırlığı aparılır:</span>
    </p>
    <ol>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">İnformasiya texnologiyaları</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Energetika mühəndisliyi</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Elektroenergetika mühəndisliyi</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Yerüstü nəqliyyat vasitələrinin mühəndisliyi</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Nəqliyyat mühəndisliyi</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Meliorasiya mühəndisliyi</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Ekologiya mühəndisliyi</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Memarlıq</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Kompüter mühəndisliyi</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Proseslərin avtomatlaşdırılması</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Elektrik və elektronika mühəndisliyi</span></li>
        <li style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0);">Kompüter mühəndisliyi (ingilis dilində)</span></li>
    </ol>
    <p><span style="color: rgb(0, 0, 0);">Fakültə Rəqəmsal İnkişaf və Nəqliyyat Nazirliyi, NMR Dövlət Energetika Xidməti,&nbsp; “Naxçıvan Dəmir Yolları” MMC, NMR Dövlət Meliorasiya və Su təsərrüfatı Komitəsi,&nbsp; NMR Dövlət Şəhərsalma və Arxitektura Komitəsi, NMR Memarlar Birliyi ilə əməkdaşlıq edir. Məzunlarımız sənayenin müxtəlif sahələrinin inkişaf etdirilməsində böyük xidmətlər göstərirlər. Fakültədə müxtəlif avadanlıqlarla təchiz olunmuş auditoriya və laboratoriyalarda baloniya prosesi ilə təsbit edilən kredit sisteminə uyğun tədris planları əsasında müxtəlif elmi və texnoloji problemləri həll edə biləcək 600-dən çox yerli, 60-dan çox xarici tələbə bakalavr pilləsində təhsil alır. Tələbələrin tədrisi ilə yüksək ixtisaslı kadrlar məşğul olurlar.</span></p>
    <p><span style="color: rgb(0, 0, 0);"><strong>Fakültə dekanı:</strong>&nbsp;Cavanşir&nbsp; İbrahim oğlu Zeynalov</span></p>
    <p><span style="color: rgb(0, 0, 0);"><strong>Tədris işləri üzrə dekan müavini:</strong>&nbsp;Tərxan Zakir oğlu Orucov</span></p>
    <p><span style="color: rgb(0, 0, 0);"><strong>Akademik məsləhətçi (tyutor):&nbsp;&nbsp;</strong>Azər Ehtibar oğlu Cabbarlı</span></p>
    <p><span style="color: rgb(0, 0, 0);"><strong>Akademik məsləhətçi (tyutor):</strong>&nbsp;Axundova Gülşadə Əli qızı</span></p>
</div>