body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Stil */
header {
    background-color: #000000; /* Mavi arka plan */
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

/* Menü Stil */
.menu {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #00509e; /* Hover efekti */
}
